<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysAnnouncementSendMapper">
	
	<resultMap id="AnnouncementSendModel" type="org.jeecg.modules.system.model.AnnouncementSendModel" >
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="annt_id" property="anntId" jdbcType="VARCHAR"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="titile" property="titile" jdbcType="VARCHAR"/>
		<result column="msg_content" property="msgContent" jdbcType="VARCHAR"/>
		<result column="sender" property="sender" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="VARCHAR"/>
		<result column="msg_category" property="msgCategory" jdbcType="VARCHAR"/>
		<result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
		<result column="bus_id" property="busId" jdbcType="VARCHAR"/>
		<result column="open_type" property="openType" jdbcType="VARCHAR"/>
		<result column="open_page" property="openPage" jdbcType="VARCHAR"/>
		<result column="file_list" property="fileList" jdbcType="VARCHAR"/>
		<result column="send_count" property="sendCount" jdbcType="INTEGER" />
		<result column="read_count" property="readCount" jdbcType="INTEGER" />
		<result column="sender_depart" property="senderDepart" jdbcType="VARCHAR" />
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="is_delay" property="isDelay" jdbcType="INTEGER" />
		<result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
		<result column="submit_file" property="submitFile" jdbcType="VARCHAR" />
		<result column="submit_remark" property="submitRemark" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="queryByUserId" parameterType="String"  resultType="String">
	   select sas.annt_id from sys_announcement_send sas 
	   where sas.user_id = #{userId}
	</select>
	
	<select id="getMyAnnouncementSendList"  parameterType="Object"  resultMap="AnnouncementSendModel">
	   select
	   		sas.id,
	   		sas.annt_id,
	   		sas.user_id,
	   		sas.read_flag,
	        sa.file_list,
	        sa.send_count,
	        sa.read_count,
	        sa.sender_depart,
	   		sa.titile as titile,
	   		sa.msg_content as msg_content,
	   		sa.sender as sender,
	   		sa.priority as priority,
	   		sa.msg_category,
	   		sa.send_time as send_time,
	   		sa.bus_id as bus_id,
			sa.open_type as open_type,
			sa.open_page as open_page,
			sa.msg_abstract
	   from sys_announcement_send sas
	   left join sys_announcement sa ON sas.annt_id = sa.id
	   where sa.send_status = '1'
	     and sa.del_flag = '0'
	   	 and sas.user_id = #{announcementSendModel.userId}
		<if test="type  == 'msg'">
			and sa.msg_category = '1'
			or sa.msg_category = '2'
		</if>
		<if test="type  == 'task'">
			and sa.msg_category = '3'
		</if>
		<if test="type  == 'mobile'">
			and sa.msg_category = '1'
		</if>
	   <if test="announcementSendModel.titile !=null and announcementSendModel.titile != ''">
	   		and sa.titile LIKE concat(concat('%',#{announcementSendModel.titile}),'%')
	   </if>
	   <if test="announcementSendModel.sender !=null and announcementSendModel.sender != ''">
	   		and sa.sender LIKE concat(concat('%',#{announcementSendModel.sender}),'%')
	   </if>
	   <if test="announcementSendModel.readFlag !=null and announcementSendModel.readFlag != ''">
	   		and sas.read_flag = #{announcementSendModel.readFlag}
	   </if>
	   <if test="announcementSendModel.busType !=null and announcementSendModel.busType != ''">
	   		and sa.bus_type = #{announcementSendModel.busType}
	   </if>
		<if test="announcementSendModel.bizSource !=null and announcementSendModel.bizSource =='isNoBpm'">
			and (sa.bus_type != 'bpm' or sa.bus_type is null)
		</if>
        <if test="announcementSendModel.msgCategory !=null and announcementSendModel.msgCategory != ''">
            and sa.msg_category = #{announcementSendModel.msgCategory}
        </if>
	   order by sas.read_flag,sa.send_time desc
	</select>
	
	<select id="getTaskSendList" parameterType="Object" resultMap="AnnouncementSendModel">
		SELECT
			sasu.id,
			sasu.annt_id,
			sasu.user_id,
			sasu.username,
			sasu.org_code,
			sasu.read_flag,
			sasu.read_time,
			sasu.create_time,
			sasu.is_delay,
			sasu.submit_remark,
			sasu.submit_file,
			sa.file_list,
			sa.sender_depart,
			sa.titile AS titile,
			sa.sender AS sender,
			sa.priority AS priority,
			sa.msg_category,
			sa.send_time AS send_time,
			sa.bus_id AS bus_id
		FROM
			( SELECT sas.*, u.username, u.org_code FROM sys_announcement_send sas INNER JOIN sys_user u ON sas.user_id = u.id ) sasu
			LEFT JOIN sys_announcement sa ON sasu.annt_id = sa.id
		WHERE
			sa.del_flag = '0'
			and sasu.annt_id = #{announcementSendModel.anntId}
		<if test="announcementSendModel.titile !=null and announcementSendModel.titile != ''">
			and sa.titile LIKE concat(concat('%',#{announcementSendModel.titile}),'%')
		</if>
		<if test="announcementSendModel.sender !=null and announcementSendModel.sender != ''">
			and sa.sender LIKE concat(concat('%',#{announcementSendModel.sender}),'%')
		</if>
		<if test="announcementSendModel.readFlag !=null and announcementSendModel.readFlag != ''">
			and sasu.read_flag = #{announcementSendModel.readFlag}
		</if>
		<if test="announcementSendModel.busType !=null and announcementSendModel.busType != ''">
			and sa.bus_type = #{announcementSendModel.busType}
		</if>
		<if test="announcementSendModel.bizSource !=null and announcementSendModel.bizSource =='isNoBpm'">
			and (sa.bus_type != 'bpm' or sa.bus_type is null)
		</if>
		<if test="announcementSendModel.msgCategory !=null and announcementSendModel.msgCategory != ''">
			and sa.msg_category = #{announcementSendModel.msgCategory}
		</if>
		order by sasu.read_flag,sasu.read_time desc
	</select>

</mapper>