<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.publicity.mapper.PublicityMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.wePower.publicity.entity.SmartCreateAdvice">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
            <result property="basicDesc" column="basic_desc" jdbcType="VARCHAR"/>
            <result property="problem" column="problem" jdbcType="VARCHAR"/>
            <result property="mainSolution" column="main_solution" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="departId" column="depart_id" jdbcType="VARCHAR"/>
            <result property="verifyStatus" column="verify_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,create_time,
        update_by,update_time,sys_org_code,
        basic_desc,problem,main_solution,
        del_flag,depart_id,verify_status
    </sql>
</mapper>
