<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.test.mapper.JeecgDemoTwoMapper">

    <!-- 获取道里区纪委部门信息作为业务树起点 -->
    <select id="getDaoli" resultType="org.jeecg.modules.demo.test.entity.SysDepart">
        select * from sys_depart
        where  depart_name = "区纪委"
    </select>

</mapper>