<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.smartPostFuneralReport.mapper.SmartPostFuneralReportMapper">
    <select id="getFuneralReport"  resultType="org.jeecg.modules.smartPostFuneralReport.vo.FuneralReport">
        SELECT
            r.*,
            u.*
        FROM smart_post_funeral_report r
                LEFT JOIN sys_user u ON r.people_id = u.id
        WHERE
            r.id = #{id}
    </select>
    <select id="getDicText"  resultType="String">
        SELECT
            item_text
        FROM sys_dict_item
        WHERE
            dict_id = #{dictId} and item_value = #{itemValue}
    </select>
    <select id="getDepByOrgCode"  resultType="String">
        SELECT
            depart_name
        FROM sys_depart
        WHERE
            del_flag = 0 and org_code = #{orgCode}
    </select>
    <select id="getPostByCode"  resultType="String">
        SELECT
           name
        FROM sys_position
        WHERE
            code = #{code}
    </select>
    <select id="getByPreId" resultType="org.jeecg.modules.smartPostFuneralReport.entity.SmartPostFuneralReport">
        select *
        from smart_post_funeral_report where pre_id like #{preId} and del_flag != "1"
    </select>
</mapper>