<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.base.mapper.SaveSMSMapper">


    <select id="selectOrgId" resultType="java.lang.String">
        SELECT sys_depart.id
        from sys_depart, sys_user
        where username = #{sendFrom} and sys_depart.org_code = sys_user.org_code
    </select>

</mapper>