<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.smartAssessmentDepartment.mapper.SmartAssessmentDepartmentMapper">

    <select id="getDictItems" resultType="org.jeecg.common.system.vo.DictModel">
        select depart_name as "text", sad.id as "value"
        from smart_assessment_department sad
            left outer join sys_depart sd on sad.depart_id = sd.id
        where sad.del_flag = 0
    </select>
</mapper>