<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.smartPublicityEducation.mapper.SmartPublicityEducationPeopleMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  smart_publicity_education_people 
		WHERE
			 main_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.smartPublicityEducation.entity.SmartPublicityEducationPeople">
		SELECT * 
		FROM  smart_publicity_education_people
		WHERE
			 main_id = #{mainId} 	</select>
</mapper>
