<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.SmartPaper.mapper.SmartGradeNumberMapper">
    <!--优秀总数量-->
    <select id="excellentCount" resultType="java.lang.Integer">
        select count(*) from smart_people,smart_paper
        where exam_id=#{exam_id} and exam_grade &gt;= #{excellent_line}
            and exam_grade &lt;= #{total_line}
    </select>
    <!--良好总数量-->
    <select id="goodCount" resultType="java.lang.Integer">
        select count(*) from smart_people,smart_paper
        where exam_id=#{exam_id} and exam_grade &gt;= #{good_line}
            and exam_grade &lt; #{excellent_line}
    </select>
    <!--及格总数量-->
    <select id="passCount" resultType="java.lang.Integer">
        select count(*) from smart_people,smart_paper
        where exam_id=#{exam_id} and exam_grade &gt;= #{pass_mark}
            and exam_grade &lt; #{good_line}
    </select>
    <!--不及格总数量-->
    <select id="failCount" resultType="java.lang.Integer">
        select count(*) from smart_people,smart_paper
        where exam_id=#{exam_id} and exam_grade &gt;= 0
           and exam_grade &lt; #{pass_mark}
    </select>


</mapper>
