<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.SmartPaper.mapper.SmartPeopleMapper">
    <!--<resultMap id="peopleInfo" type="org.jeecg.modules.SmartPaper.entity.SmartPeople">

    </resultMap>-->
    <select id="getNameById" resultType="java.lang.String">
        select realname from sys_user
        where id = #{userId}
    </select>
    <!--按照人员Id获取考试ID-->
    <select id="getExamIdByuser" resultType="java.lang.String">
        select exam_id from smart_people
        where person_id = #{userId}
    </select>
    <!--按照人员Id获取考试ID,考试信息未删除才显示-->
<!--    select exam_id from smart_people
    where person_id = '1455153317689438210' and exam_id in (
    select id from smart_exam_information where smart_exam_information.del_flag ='0'
    )-->
    <select id="getGrade" resultType="java.lang.Integer">
        select IFNULL(exam_grade,-1) as exam_grade  from smart_people
        where exam_id = #{examId} and person_id = #{userId}
    </select>
    <select id="getScoreByExamId" parameterType="java.lang.String"
            resultType="org.jeecg.modules.SmartPaper.vo.ExamPeopleScoreVo">
        SELECT
            sp.person_name,depart_name as deptName,
            IFNULL(sp.exam_grade,-1) as exam_grade,is_mark
        FROM
            smart_exam_information se
                LEFT JOIN smart_people sp ON se.id = sp.exam_id
                LEFT JOIN smart_paper p ON p.id = se.paper_id
                LEFT JOIN  sys_user u on u.id = sp.person_id
                LEFT JOIN  sys_depart sd on sd.id = u.depart_id
        WHERE se.paper_id = #{examId}
        order by exam_grade desc
    </select>
    <update id="updateGrade">
        update smart_people
        set exam_grade = #{grade},submit_time = #{date} where exam_id = #{examId} and person_id = #{userId}
    </update>

    <update id="updateSumSur">
        update smart_people sp
        set sp.exam_grade = #{grade},
                sp.is_finish = #{isFinish},
                sp.inquirer_id = #{inquirerId},
                sp.satisfaction = #{satisfaction},
                sp.is_report = #{isReport},
        where sp.exam_id = #{examId} and sp.person_id = #{userId}
    </update>

    <select id="getAllVillageList" resultType="java.lang.String">
        select distinct depart_id from smart_village_home
    </select>
    <select id="getAllHomeListByVillageId" resultType="java.lang.String">
        select home_code from smart_village_home
        where depart_id =#{villageId}
        order by rand() limit #{selectedCount}
    </select>
    <select id="getSelectedPeoByHomeCode" resultType="org.jeecg.modules.SmartPaper.vo.RandomPeople">
        select su.id as userId,su.realname,su.depart_id,su.phone,svh.idnumber from sys_user su
            left join smart_village_home svh on su.home_code = svh.home_code
        where su.home_code = #{homeCode}
        order by rand() limit 1
    </select>
    <select id="getTriPeoListByDptId" resultType="org.jeecg.modules.SmartPaper.vo.RandomPeople">
        select p.person_id as userId,su.realname,su.depart_id,d.depart_name,su.phone,su.phone,
               svh.idnumber,su1.realname as hostName,p.is_finish
        from smart_paper sp
                 left join smart_people p on sp.id = p.exam_id
                 left join sys_user su on su.id = p.person_id
                 left join smart_village_home svh on su.home_code = svh.home_code
                 left join sys_user su1 on su1.idnumber = svh.idnumber
                 left join sys_depart d on d.id = su.depart_id
        where sp.del_flag = 0 and sp.paper_type = '3'
          and sp.id=#{paperId} and su.depart_id=#{departId}
        order by p.create_time
    </select>
    <select id="selectByUIdEId" resultType="java.lang.String">
        select sp.is_finish from smart_people sp
        where  sp.exam_id = #{examId} and sp.person_id = #{userId}
    </select>
    <select id="getTriResultByEIdDId" resultType="org.jeecg.modules.SmartPaper.vo.RandomPeople">
        SELECT
            u.id as userId,u1.realname as hostName,svh.idnumber,u.depart_id,depart_name,u.realname,is_finish,is_mark,is_report,satisfaction
        FROM     smart_people sp
                     LEFT JOIN smart_paper p ON p.id = sp.exam_id
                     LEFT JOIN  sys_user u on u.id = sp.person_id
                     LEFT JOIN sys_depart d on d.id = u.depart_id
                     LEFT JOIN smart_village_home svh on u.home_code = svh.home_code
                     LEFT JOIN sys_user u1 on u1.idnumber = svh.idnumber
        WHERE sp.exam_id = #{examId}
          and u.depart_id = #{departId}
        order by sp.create_time desc
    </select>

    <select id="getTriGovPeoList" resultType="org.jeecg.modules.SmartPaper.vo.RandomPeople">
        select su.id as userId,su.realname,su.depart_id,su.phone from sys_user su
        where su.office_type = 4
        order by rand() limit #{selectedCount}
    </select>
</mapper>
