<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.SmartPaper.mapper.SmartMySurveyMapper">
    <resultMap id="SmartMySurveyVo" type="org.jeecg.modules.SmartPaper.vo.SmartMyExamVo">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="sysOrgCode" column="sys_org_code" jdbcType="VARCHAR"/>
        <result property="paperId" column="paper_id" jdbcType="VARCHAR"/>
        <result property="examName" column="exam_name" jdbcType="VARCHAR"/>
        <result property="examStarttime" column="exam_starttime" jdbcType="VARCHAR"/>
        <result property="examEndtime" column="exam_endtime" jdbcType="VARCHAR"/>
        <result property="examGrade" column="exam_grade" jdbcType="INTEGER"/>
    </resultMap>
    <select id="getMyAllSurvey" resultMap="SmartMySurveyVo">
        select smart_exam_information.id as id,paper_id,exam_name,exam_starttime,exam_endtime,exam_grade from smart_people,smart_exam_information
        where smart_people.exam_id =smart_exam_information.id
        and smart_people.person_id = #{userId} and smart_exam_information.del_flag = 0
        <if test="examName != null and examName != ''">
            and exam_name like #{examName}
        </if>
        order by smart_exam_information.create_time desc
    </select>
</mapper>
