<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.SmartPaper.mapper.SmartPaperMapper">
    <!-- <resultMap id="SmartPaperPage" type="org.jeecg.modules.SmartPaper.vo.SmartPaperPage">
         <id column="id" jdbcType="VARCHAR" property="id" />
         <result column="paper_name" jdbcType="VARCHAR" property="paperName" />
         <result column="create_by" jdbcType="VARCHAR" property="createBy" />
         <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
         <result column="sys_org_code" jdbcType="VARCHAR" property="sysOrgCode" />
         <result column="paper_type" jdbcType="VARCHAR" property="paperType" />
         <result column="time" jdbcType="INTEGER" property="time" />
         <result column="paper_status" jdbcType="VARCHAR" property="paperStatus" />
         <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
         <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
         <result column="topic_num" jdbcType="VARCHAR" property="topicNum" />
         <result column="total_score" jdbcType="INTEGER" property="totalScore" />
         <result column="pass_mark" jdbcType="INTEGER" property="passMark" />
         <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        &lt;!&ndash; <collection property="smartTopicVoList" ofType="org.jeecg.modules.SmartPaper.vo.SmartTopicVo">
       &lt;!&ndash;      <id column="id" jdbcType="VARCHAR" property="id" />
             <result column="create_by" jdbcType="VARCHAR" property="createBy" />
             <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
             <result column="sys_org_code" jdbcType="INTEGER" property="sysOrgCode" />
             <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
             <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />&ndash;&gt;
             <result column="paper_id" jdbcType="VARCHAR" property="paperId" />
             <result column="question" jdbcType="VARCHAR" property="question" />
             <result column="choice" jdbcType="VARCHAR" property="choice" />
             <result column="topic_type" jdbcType="VARCHAR" property="topicType" />
             <result column="correct_answer" jdbcType="VARCHAR" property="correctAnswer" />
             <result column="score" jdbcType="INTEGER" property="score" />
             <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
         </collection>&ndash;&gt;
     </resultMap>-->
    <!--通过ID获取试卷-->
    <select id="getPaperById" resultType="org.jeecg.modules.SmartPaper.entity.SmartPaper">
        select p.*
        from smart_paper p
        where p.id = #{id}  and p.del_flag = 0
    </select>
<!--根据试卷Id获取题目列表-->
    <select id="getTopicListByPaperId" resultType="org.jeecg.modules.SmartPaper.vo.SmartTopicVo">
        select  q.*
        from  smart_question q
        where q.paper_id = #{id} and q.del_flag = 0
    </select>
    <!--更新试卷状态-->
    <update id="updateStatus">
        update smart_paper p
        set p.paper_status ="2"
        where p.id = #{paperId}
    </update>
</mapper>