<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.smartPremaritalFiling.mapper.SmartPremaritalFilingMapper">
    <select id="getDepartIdByOrgCode" resultType="java.lang.String">
        select id
        from sys_depart
        where org_code = #{orgCode}
    </select>
    <select id="getChildrenIdByOrgCode" resultType="java.lang.String">
        select id from sys_depart where org_code like #{orgCode}
    </select>
</mapper>
