<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.smartGroupEconomy.mapper.SmartGroupEconomyPeopleMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  smart_group_economy_people 
		WHERE
			 main_id = #{mainId} 
	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.wePower.smartGroupEconomy.entity.SmartGroupEconomyPeople">
		SELECT * 
		FROM  smart_group_economy_people
		WHERE
			 main_id = #{mainId} 
	</select>
</mapper>
